.facebook {
    padding: 7px 9px !important;
    background-color: #31aae2;
    border-radius: 50%;
}

.twitter {
    background-color: #55acee;
    border-radius: 50%;
}

.google {
    background-color: #d24033;
    border-radius: 50%;
    padding: 7px 6px !important;
}

.linkedin {
    background-color: #0274b3;
    border-radius: 50%;
    padding: 7px 8px !important;
}