.leader {
    background-color: #343434;
    color: white;
    h2 {
        font-size: 2.2em;
        padding: 3.5em 0;
        letter-spacing: 0.03em;
        text-align: center;
    }
    .container {
        @extend %container;
        .leader-list {
            margin: 0;
            padding: 0 0 9em 0;
            display: grid;
            /* grid-gap: 0em; */
            grid-template-columns: auto auto;
            .facebook {
                padding: 7px 9px !important;
                background-color: #31aae2;
                border-radius: 50%;
            }
            .twitter {
                background-color: #55acee;
                border-radius: 50%;
            }
            .google {
                background-color: #d24033;
                border-radius: 50%;
                padding: 7px 6px !important;
            }
            .linkedin {
                background-color: #0274b3;
                border-radius: 50%;
                padding: 7px 8px !important;
            }
            &>li {
                display: flex;
                padding: 3em;
                &:first-child {
                    border-right: 1px solid #464343;
                    border-bottom: 1px solid #464343;
                }
                &:last-child {
                    border-left: 1px solid #464343;
                    border-top: 1px solid #464343;
                }
                &:nth-child(odd) {
                    .leader-item-text {
                        text-align: right;
                        padding-right: 2em;
                        max-width: 416px;
                        small {
                            text-transform: uppercase;
                            color: #03a9f4;
                        }
                        h4 {
                            text-transform: uppercase;
                        }
                    }
                }
                &:nth-child(even) {
                    .leader-item-text {
                        padding-left: 2em;
                        max-width: 416px;
                        order: 1;
                        small {
                            text-transform: uppercase;
                            color: #03a9f4;
                        }
                        h4 {
                            text-transform: uppercase;
                        }
                    }
                }
                .leader-item-image {
                    img {
                        border-radius: 50%;
                        width: 130px;
                        height: 130px;
                        cursor: pointer;
                    }
                    .leader-icons {
                        display: flex;
                        padding: 6px 15px;
                        li {
                            margin-right: 0.5em;
                            //border: 1px solid #a09494;
                            border-radius: 50%;
                            i {
                                font-size: 11px;
                                padding: 7px;
                                cursor: pointer;
                                // width: 10px;
                                // height: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}