nav {
    background-color: white;
    &>.container {
        @extend %container;
        .nav-content {
            @include flex-box;
            img {
                width: 193px;
                height: 30px;
                margin: auto 0;
                @include oddBreakpoint(999px) {
                    margin: 3rem 0;
                }
            }
            .menu {
                display: flex;
                li:not(:last-child) {
                    padding: 3rem 1.2rem;
                    color: $color-contact;
                    font-family: $most-font;
                    text-transform: uppercase;
                    cursor: pointer;
                    &:hover {
                        background-color: $useful-Blue;
                        color: white;
                    }
                }
                li:last-child {
                    margin: 3rem 0rem 3rem 8rem;
                    cursor: pointer;
                    @media screen and (max-width: 1120px) {
                        margin: 3rem 0;
                    }
                    i {
                        color: $color-search;
                    }
                }
                @include oddBreakpoint(999px) {
                    display: none;
                }
            }
            .menu-icon {
                display: none;
                i {
                    cursor: pointer;
                }
                @include oddBreakpoint(999px) {
                    display: block;
                    margin: auto 0;
                }
            }
        }
    }
}